.nav {
    grid-column: col-start / col-end;
    grid-row: nav-start / nav-end;
    font-family: Poppins;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 2rem 0;
}