.author_bio {
    grid-column: col-start / col-end;
    grid-row: author-start / author-end;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .author_bio {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 700px) {
    .author_bio {
        
    }
}
.author_bio__img {
    width: 20%;
    max-width: 15rem;
    min-width: 15rem;
    height: 20%;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
}

.author_bio__text {
    font-size: 1.1rem;
    margin: 2rem 2rem 2rem 0;
}

@media (max-width: 500px) {
    .author_bio__text {
        margin: 0 2rem 2rem 2rem;
    }
}