.author_bio {
    grid-column: col-start / col-end;
    grid-row: author-start / author-end;
    display: flex;
    align-items: center;
    background-color: rgb(247, 246, 246);
}

@media (max-width: 500px) {
    .author_bio {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .author_bio {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 701px) {
    .author_bio {
        grid-column: aside-start / aside-end;
        grid-row: aside-start / aside-end;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        padding: 2rem;
    }
} 

.author_bio__img {
    width: 20%;
    max-width: 15rem;
    min-width: 15rem;
    height: 20%;
    height: 12rem;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
}

.author_bio__text {
    font-size: 1.5rem;
    margin: 2rem 2rem 2rem 0;
}

@media (max-width: 500px) {
    .author_bio__text {
        margin: 0 2rem 2rem 2rem;
    }
}

.author_info {
    font-size: 1.5rem;
}