* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.5vh; */
}

.text {
    line-height: 2;
    letter-spacing: 1px;
    padding: 25px;
}

/* .box {
    border: 1px solid orangered;
} */

/* ///////////////////////////////////////////////////////////////////////////// */
/* setting up the grid containing the layout for the whole page */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: [col-start]minmax(200px, 600px)[col-end];
    grid-template-rows: [nav-start]min-content[nav-end header-start] min-content 
    [header-end content-start] min-content [content-end footer-start] 100px [footer-end];
    grid-row-gap: 10px;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* setting up the nav bar */
.navBar {
    grid-column: col-start / col-end;
    grid-row: nav-start / nav-end;
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
}

.navItem {
    flex: 1 120px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* setting up the hero section */
.header {
    /* grid-area: header; */
    grid-column: col-start / col-end;
    grid-row: header-start / header-end;
}

.header > .illustration {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 10px;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* setting up the section with the blogs */
.content {
    /* grid-area: content; */
    grid-column: col-start / col-end;
    grid-row: content-start / content-end;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card {
    flex: 1;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    margin: 30px auto 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    width: 80%;
    height: 80%;
}



/* //////////////////////////////////////////////////////////////////////// */
/* setting up the footer */
footer{
    /* grid-area: footer; */
    grid-column: col-start / col-end;
    grid-row: footer-start / footer-end;
}

/* .blog {
    height: min-content;
} */