.content {
    /* grid-area: content; */
    grid-column: col-start / col-end;
    grid-row: content-start / content-end;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 2rem;
}

.card {
    flex: 1;
    overflow: hidden;
    box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 80%;
    margin: 3rem auto 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.25);
}

.card:hover > .blog__heading {
    font-size: 2.1rem;
    background-color:rgba(39,174,96 ,.6);
    border-radius: 2rem;
}

.card > img {
    width: 80%;
    height: 80%;
}

.blog__heading {
    font-size: 2rem;
    font-family: 'Poppins';
    margin-top: 2rem;
    background-color:rgba(39,174,96 ,.5);
    padding:.2rem 1rem;
    border-radius: 2rem;
}

/* media query for thinnest screens ie less than 300px*/
@media (max-width: 300px){
    .blog__heading {
        font-size: 1.5rem;
    }

    .card:hover > .blog__heading {
        font-size: 1.8rem;
    }
}

/* media query for screens greater than 600px and less than 900px */
/* the content section is made a nested grid here */
@media (min-width: 601px) and (max-width: 900px) {
    .content {
        grid-column: content-start / content-end;
        grid-row: content-start / content-end;
        /* flex-flow: row wrap; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(autofit, min-content);
        grid-auto-rows: min-content;
    }
    .card {
        /* padding: 3rem; */
        flex: 1 30rem;
        display: flex;
        flex-direction: column;
    }

    .blog__illustration {
        max-width: 80%;
    }
    
}

@media (min-width: 901px) {
    .content {
        grid-column: content-start / content-end;
        grid-row: content-start / content-end;
        display: flex;
        flex-flow: row wrap;
    }

    .card {
        flex: 1, 10rem;
        margin: 1rem;
    }

    .blog__illustration {
        max-width: 80%;
    }
}

/* media query for ipad Pro's portrait mode as the design breaks in that case */
@media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: portrait) {
        .content {
            grid-column: content-start / content-end;
            grid-row: content-start / content-end;
            display: flex;
            flex-flow: row wrap;
        }

        .card {
            flex: 1 33rem;
            margin: 2rem;
        }
    }