.footer{
    /* grid-area: footer; */
    grid-column: col-start / col-end;
    grid-row: footer-start / footer-end;
    padding: 1.5rem;
    background-color: rgb(243, 241, 241)
}

.footer__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

}

.icon {
    font-size: 2.5rem;
}

.footer__icontext {
    font-size: 1.6rem;
}
.footer__credits {
    /* margin: 0 auto; */
    padding: 0rem;
    text-align: center;
    /* background: orangered; */
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer {
        grid-column: full-start / full-end;
    }
}

@media (min-width: 901px) {
    .footer {
        grid-column: full-start / full-end;
    }
}