.intro {
    /* grid-area: header; */
    grid-column: col-start / col-end;
    grid-row: header-start / header-end;
}
.intro__illustration {
    max-width: 60rem;
    width: 100%;
    height: auto;
    padding: 3rem;
}

.intro__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    word-spacing: .2rem;
    line-height: 1.2;
    margin: 3rem;
    
}

.intro__text {
    margin: 3rem;
}

.intro__text {
    font-size: 2rem;
}

/* media queries for screen width between 600 and 900 px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .intro {
        grid-column: full-start / full-end;
        grid-row: header-start / header-end;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .intro__container {
        display: flex;
        flex-flow: column;
        /* align-content: center; */
        align-items: center;
    }
}

/* media queries for screen width greater than 900px */
@media (min-width:901px) {
    .intro {
        grid-column: content-start / content-end;
        grid-row: header-start / header-end;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .intro__container {
        display: flex;
        /* flex-flow: column; */
        /* align-content: center; */
        align-items: center;
    }

    .intro__heading {
        line-height: 1.8;
        word-spacing: 1rem;
    }

    .intro__text {
        display: none;
    }
}