.intro {
    /* grid-area: header; */
    grid-column: col-start / col-end;
    grid-row: header-start / header-end;
}
.intro__illustration {
    max-width: 60rem;
    width: 100%;
    height: auto;
    padding: 3rem;
}

.intro__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    word-spacing: .2rem;
    line-height: 1.2;
    margin: 3rem;
    
}

.intro__text {
    margin: 3rem;
}

.intro__text {
    font-size: 2rem;
}

/* media queries for screen width between 600 and 900 px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .intro {
        grid-column: full-start / full-end;
        grid-row: header-start / header-end;
        margin-top: 4rem;
        /* display: flex; */
    }

    .intro__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro__illustration {
        width: 60%;
    }
}

/* media queries for screen width greater than 900px */