.navbar {
    grid-column: col-start / col-end;
    grid-row: nav-start / nav-end;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    /* padding: 1rem 0; */
}

.navitem {
    flex: 1;
    /* padding: 1rem 1rem; */
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Poppins;
    font-weight: 500;
}

.navitem:hover {
    border-bottom : .2rem solid rgba(39,174,96 ,.5);
    /* background-color: rgba(39,174,96 ,.1); */
    font-size: 2.05rem;
}

@media (max-width: 300px) {
    .navitem {
        flex: 1 15rem;
        /* padding: 1rem 1rem; */
        margin: 1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-family: Poppins;
        font-weight: 500;
        border-bottom: 1px solid #444;
    }
}

@media (min-width: 600px) {
    .navbar {
        grid-column:content-start / content-end;
        grid-row: nav-start / nav-end;
        display: flex;
        flex-flow: row wrap;
    }
}